<h1>Listing Tasks</h1>
<div id="container">
	<div id="taskApp">
		<form class="todoForm">
			<input type="text" placeholder="ToDo">
			<input type="submit" value="登録">
		</form>
		<table>
			<thead>
				<tr>
					<th>Content</th>
					<th>Status</th>
					<th clospan="3">
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>部屋の掃除をする</td>
					<td>todo</td>
				</tr>
				<tr>
					<td>洗濯をする</td>
					<td>done</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
